body {
  text-align: center;
  overscroll-behavior: none;
}
.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.title {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: #776e65;
}
.notext {
  font-size: 0%;
}
.game-button {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 5px;
  margin: 2px;
  font-size: large;
}
.back {
  width: max-content;
  text-align: center;
  background-color: #bbada0;
  padding: 8px;
  margin:0 auto;
  border-radius: 5px;
}
.mobile-button {
  position: absolute;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 5px;
  margin: 2px;
  font-size: large;
  color: #776e65;
  background-color: #bbada0;
}
